  .banner {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 60px;
    margin-top:00px;
    display: flex;
    align-items: center;
    background-color: #1976d2;
    color: white;
    font-weight: 600;
  }
  .naventry {
    all: unset;
    border-radius: 5px;
    border: 2px solid #1976d2;
    background-color: #1976d2;
    height: 40px;
    width: 200px;
    margin: 0px 0px 0px;
    padding: 8px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    transition: all 0.2s ease-in-out;
    line-height: 24px;
  }
  .selected {
      border-color: #76d219;
      border-width: 5px;
      border-radius: 5px;
      border-color: #2986e2;
      padding:5px;
      background-color: #2986e2
  }
