.banner {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 60px;
  margin-top: 00px;
  display: flex;
  margin: auto;
  align-items: center;
  background-color: var(--navboxbg);
  font-weight: 600;
}
.navs {
  margin: auto;
  display: flex;
  background-color: var(--navboxbg);
}
.naventry {
  all: unset;
  border-radius: 5px;
  border: 2px solid var(--navbg);
  background-color: var(--navbg);
  color: var(--navtext);
  height: 40px;
  width: 200px;
  margin: 0px 0px 0px;
  padding: 8px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  transition: all 0.2s ease-in-out;
  line-height: 24px;
}
.selected {
  border-width: 5px;
  border-radius: 5px;
  border-color: var(--navselectbg);
  padding: 5px;
  background-color: var(--navselectbg);
}
